  @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:wght@100;300;700&family=Playfair+Display:ital,wght@0,600;0,700;1,700&family=Poppins:wght@300;400&family=Roboto:wght@300;400&family=Style+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Yellowtail&display=swap');

:root{
  --overlay-color: #f2c90f;
  --overlay-color2:#f2970f;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, 'Playfair-Display', sans-serif, 'Roboto', sans-serif, 'Inter', sans-serif, Arial, "Yellotail", sans-serif, Helvetica, sans-serif;
}


/* Vid Main */
/* .main{
  height: 100vh;
  width: 100%;
} */


.showcase {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  right: 0;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: whitesmoke;
  /* color: rgba(218, 107, 17, 0.671); */
  z-index: 2;
  transition: .6s;
}

.showcase.active{
  /* sets the showcase (vid page) to move over the left by 300px, to accomodate the menu, when the menu is active. */
  right: 300px;
  /* transform: scaleY(.95); */
  transition: 1.1s;
  filter:blur(2px);
}


.showcase header{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
}



header .logo{
  text-transform: uppercase;
  cursor: pointer;
  
}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
   background: url('https://i.ibb.co/HrfVRcx/menu.png');
  /* background: url('../src/assets/bakeryVid.mp4'); */
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active{
  background: url('https://i.ibb.co/rt3HybH/close.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .7;
  }
  
  /* I kinda like it without the colored overlay.... */
  /*.overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background:rgba(234, 146, 45, 0.3)  
    background:  var(--overlay-color );
    mix-blend-mode: overlay;
    /* could also use rgba values instead of the mix-blend-mode... Works the same.  

  } */
  .text{
    position: relative;
    z-index: 10;
  }

  .text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
  }

  .text h3{
    font-size: 4em;
    font-weight: 700;
  font-family: 'Yellowtail', sans-serif, 'Poppins', sans-serif;
    line-height: 1em;
    /* text-transform: uppercase; */
  }

  .text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
  }

  .text a{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;

  }

  .text a:hover{
    letter-spacing: 6px;
  }

  .social{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .social li{
    list-style: none;
  }

  .social li a{
    display: inline-block;
    /* Switches the native color from black to white */
    filter: invert(1);
    margin-right: 20px;
    transform: scale(.5);
    transition: 0.5s;

  }

  .social li a:hover{
    transform: scale(.5) translateY(-20);
  }

.menu{

  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--overlay-color);
}

.menu ul{
  position: relative;
  list-style: none;

}
.menu ul li a{
  text-decoration: none;
  font-size: 24px;
  color: #111;
  

}

menu ul li a:hover{
  color: var(--overlay-color );
  letter-spacing: 2px;
    transition: 0.2s; 
}
@media(max-width: 798px){
  .showcase,
  .showcase header{
    padding: 40px;
  }

  .text h2{
    font-size: 3em;

  }

  .text h3{
    font-size: 2em;
  }
}


/* Navbar Styles */
.navbar{
font-family: 'Poppins', sans-serif;
font-size: 17px;
line-height: 1.5rem;
box-shadow: 0 8px 6px -6px var(--overlay-color);
--webkit-box-shadow: 0 8px 6px -6px var(--overlay-color);
border-bottom: solid var(--overlay-color) !important;
display: flex;
}

.navbar-toggler{
  /* color: #a812a6;
  fill:#a812a6; */
  color:  var(--overlay-color);
  fill: var(--overlay-color);
  position: relative;
  margin-bottom: 1rem;
}
.nav-link{
  font-weight: 300 !important;
}

.ant-badge{
  font-size:medium ;
  margin-top: .3rem;
  margin-right: .8rem;
  /* padding-bottom: .2rem */
}

/* or .nav-link.active  Still unsure. lol.*/
.active:not(.toggle.active){
  border-bottom: 3px solid var(--overlay-color);
  /* border-bottom: 3px solid rgb(134, 45, 167); */
}

.player-wrapper {
  position: relative;
  /* padding-top: 56.25%; Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-brand, .splash{
  font-weight: 700;
  font-size: 40px;
  font-family: 'Cookie', sans-serif, 'Poppins', sans-serif;
  text-transform: none;
  letter-spacing: 1px;
  padding: 1rem;
  color:var(--overlay-color);
}

.navbar-brand-name{
  font-weight: 700;
  font-size: 40px;
  font-family: 'Cookie', sans-serif, 'Poppins', sans-serif;
  text-transform: none;
  letter-spacing: 1px;
  padding-right: auto;
  color:var(--overlay-color);
  text-decoration: none;
  justify-self:center;
  align-self: flex-start;
}

.splash2{
  font-family: 'Cookie', sans-serif, 'Poppins', sans-serif;
  font-size: 50px;
  color: var(--overlay-color);
}

.splash3{
  font-family: 'Cookie', sans-serif, 'Poppins', sans-serif;
  font-size: 40px;
  color: var(--overlay-color2);
}

/* More section */
.moreLike{
  background:#f2c90f;
}
/* Footer Styles */
.footer{
  color: white;
  padding: 25px 25px 25px 0;
  background: #000000; /* a fallback in case of older browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2c90f,#f2970f
  ); 
  /* And for chrome 10-25, Safari 5.1 - 6..... */
background: linear-gradient(to right, #f2c90f,#f2970f);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ba910c ;
  /* border-bottom: 1px solid #ffefba ; */

}

/* Page not found/ 404 styles */
.pnf {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 60px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 3px solid #f2970f;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}


.pnf-btn:hover {
  letter-spacing: 2px;
  background-color: #f2c90f;
  color: white;
  transition: .6s;
}

.pnf-image{
  /* A broken camera! */
  background-image: url(
    '../public/bakingMess.jpg');
    background-origin: border-box;
    background-repeat: no-repeat;
  /* background-attachment: local; */
  background-position: center;
/* margin: 20px auto; */
border-radius: 80px;
  height: 400px;
  width: 400px;
  background-size: 400px;
}

/* Contact Page, About Page */
.contactUs, .aboutUs {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-img{
  border-radius: 10px;
}

.inText-link{
  text-decoration: none;
}

/* Register/Signup  */

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

/* Login/ forgot password form Style */
.form-container{
  display: flex;
  flex-direction: column  ;
  border: 2px solid black;
  border-radius: 6px;
  padding: 3rem;
}

.buttons{
  display: grid;
  grid-template: 1fr 1fr 10px;
  gap: 10px;
  border-radius: 8px;
}

.product-link{
  text-decoration: none;
  color: black ;

}

.detail-image{
  border: 2px solid #f2970f;
  border-radius: 20px;
  box-shadow: 0 8px 6px -6px #f2970f;
--webkit-box-shadow: 0 8px 6px 6px #f2970f ;
  
}