@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&family=Playfair+Display:ital,wght@0,600;0,700;1,700&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, 'Playfair-Display', sans-serif, 'Roboto', sans-serif, 'Inter', sans-serif, Arial, Helvetica, sans-serif;
}

/* Navbar Styles */

.navbar{
font-family: 'Poppins', sans-serif;
font-size: 17px;
line-height: 26px;
text-transform: uppercase;
box-shadow: 0 8px 6px -6px gray;
--webkit-box-shadow: 0 8px 6px -6px gray;
border-bottom: solid gray !important;
}

.nav-link{
  font-weight: 300 !important;
}

/* or .nav-link.active  Still unsure. lol.*/
.active{
  border-bottom: 2px solid black;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 3px;
}

/* Footer Styles */
.footer{
  color: white;
  padding: 25px 25px 25px 0;
  background: #000000; /* a fallback in case of older browsers */
  background: -webkit-linear-gradient(
    to-right,
    #434343,
    #000000
  ); 
  /* And for chrome 10-25, Safari 5.1 - 6..... */
background: linear-gradient(to right, #434343, #000000);
}

.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba ;

}

/* Page not found/ 404 styles */
.pnf {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 60px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 3px solid green;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}


.pnf-btn:hover {
  background-color: black;
  color: white;
}

.pnf-image{
  /* A broken camera! */
  background-image: url(
    '../public/brokenCamera.jpg');
    background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
/* margin: 20px auto; */
border-radius: 80px;
  height: 400px;
  width: 400px;
  /* background-size: 500px; */
}

/* Contact Page, About Page */
.contactUs, .aboutUs {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-img{
  border-radius: 10px;
}

.inText-link{
  text-decoration: none;
}

/* Register/Signup  */

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

/* Login/ forgot password form Style */
.form-container{
  display: flex;
  flex-direction: column  ;
  border: 2px solid black;
  border-radius: 6px;
  padding: 3rem;
}

.buttons{
  display: grid;
  grid-template: 1fr 1fr 10px;
  gap: 10px;
  border-radius: 8px;
}

.product-link{
  text-decoration: none;
  color: black ;

}